export PROJECT_DIR=$( cd "$( dirname "$BASH_SOURCE[0]" )" && pwd )
export PYTHONPATH=$PROJECT_DIR/:$PROJECT_DIR/src:$PYTHONPATH

export API_MAIN_DOMAIN="spatial.api.jfi.com"
export API_VERSION="1.0.0"
export API_LOG_LEVEL="DEBUG"
export API_SECRET_KEY="#^vpr2a%9bqm(7z-&=6^o9z=3-ki0_v+a2u1%++ygr*7)fmcx2"
export API_ALLOWED_HOSTS="localhost"
export API_TIME_ZONE="UTC"
export API_DEPLOY_ROOT="$HOME/opt/$API_MAIN_DOMAIN"
export API_MEDIA_ROOT="$API_DEPLOY_ROOT/www/uploads/"
export API_MEDIA_URL_DOMAIN="$API_MAIN_DOMAIN"
export API_MEDIA_URL_PATH="/media/"
mkdir -p -m 764 "$API_MEDIA_ROOT"
export API_STATIC_ROOT="$API_DEPLOY_ROOT/www/static/"
export API_STATIC_URL_DOMAIN="$API_MAIN_DOMAIN"
export API_STATIC_URL_PATH="/static/"
mkdir -p -m 764 "$API_STATIC_ROOT"

export API_DB_HOST="localhost"
export API_DB_PORT=5432
export API_DB_NAME="public"
export API_DB_USER="user"
export API_DB_PASS="pass"

export API_CACHE_HOST="localhost"
export API_CACHE_PORT=6379
export API_CACHE_DATABASE_INDEX=0
export API_CACHE_PASSWORD="d3v3l0p3r"
export API_CACHE_MAX_CONNECTIONS=1
export API_CACHE_RETRY_ON_TIMEOUT=True
export API_CACHE_PICKLE_VERSION=-1

export GUNICORN_HOST="127.0.0.1"
export GUNICORN_PORT=8000
export GUNICORN_WORKERS=3
export GUNICORN_LOG_LEVEL="debug"
export API_GUNICORN_ACCESS_LOG_FILE="$HOME/log/gunicorn_spatial_api.access.log"
export API_GUNICORN_ERROR_LOG_FILE="$HOME/log/gunicorn_spatial_api.error.log"
export GUNICORN_TIMEOUT=300

export PRODUCTION=False